*{
	padding: 0;
	margin: 0;
}

article, header, section, nav, aside, footer{
	display: block;
}

header{
	background-image:url('../img/fondo.jpg');
	height: 5em;
	border-bottom: solid 2px;
}

body{
	background-image:url('../img/fondo.jpg');
}

#titulo, #login{
	display: inline-block;
	vertical-align: middle;	
	padding: 0 1em;
	color: #fafafa;
}

#titulo{
	width: 50%;
	padding-top: 1em;
	padding-left: 2em;
	font-family: "Century Gothic";

}

#izquierda, #centro{
	max-width: 90%;
	display: inline-block;
	
}

#izquierda{
	width: 80%;
	padding-left: 5em;
	padding-top: 3em;
	padding-bottom: 2em;
	font-family: "Century Gothic";
	font-size: 3em;
	line-height: 50px
}


